<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>text</key>
		<string>nihaosddjfkejlksdf</string>
	</dict>
    <dict>
        <key>type</key>
        <integer>2</integer>
        <key>text</key>
        <string>http://imgsrc.baidu.com/forum/w%3D580/sign=c1092901a2efce1bea2bc8c29f53f3e8/bbfd2901213fb80e2a0a0b2033d12f2eb8389406.jpg</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>1</integer>
        <key>text</key>
        <string>nihaosddjfkejlksdf</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>1</integer>
        <key>text</key>
        <string>[哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦]</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>2</integer>
        <key>text</key>
        <string>http://imgsrc.baidu.com/forum/w%3D580/sign=c1092901a2efce1bea2bc8c29f53f3e8/bbfd2901213fb80e2a0a0b2033d12f2eb8389406.jpg</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>1</integer>
        <key>text</key>
        <string>[哈哈]asd few asddf d[好爱哦]</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>2</integer>
        <key>text</key>
        <string>http://imgsrc.baidu.com/forum/w%3D580/sign=c1092901a2efce1bea2bc8c29f53f3e8/bbfd2901213fb80e2a0a0b2033d12f2eb8389406.jpg</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>1</integer>
        <key>text</key>
        <string>nihaosddjfkejlksdf</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>2</integer>
        <key>text</key>
        <string>http://imgsrc.baidu.com/forum/w%3D580/sign=c1092901a2efce1bea2bc8c29f53f3e8/bbfd2901213fb80e2a0a0b2033d12f2eb8389406.jpg</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>1</integer>
        <key>text</key>
        <string>nihaosddjfkejlksdf</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>1</integer>
        <key>text</key>
        <string>[哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦]</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>2</integer>
        <key>text</key>
        <string>http://imgsrc.baidu.com/forum/w%3D580/sign=c1092901a2efce1bea2bc8c29f53f3e8/bbfd2901213fb80e2a0a0b2033d12f2eb8389406.jpg</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>1</integer>
        <key>text</key>
        <string>[哈哈]asd few asddf d[好爱哦]</string>
    </dict><dict>
        <key>type</key>
        <integer>2</integer>
        <key>text</key>
        <string>http://imgsrc.baidu.com/forum/w%3D580/sign=c1092901a2efce1bea2bc8c29f53f3e8/bbfd2901213fb80e2a0a0b2033d12f2eb8389406.jpg</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>1</integer>
        <key>text</key>
        <string>nihaosddjfkejlksdf</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>2</integer>
        <key>text</key>
        <string>http://imgsrc.baidu.com/forum/w%3D580/sign=c1092901a2efce1bea2bc8c29f53f3e8/bbfd2901213fb80e2a0a0b2033d12f2eb8389406.jpg</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>1</integer>
        <key>text</key>
        <string>nihaosddjfkejlksdf</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>1</integer>
        <key>text</key>
        <string>[哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦]</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>2</integer>
        <key>text</key>
        <string>http://imgsrc.baidu.com/forum/w%3D580/sign=c1092901a2efce1bea2bc8c29f53f3e8/bbfd2901213fb80e2a0a0b2033d12f2eb8389406.jpg</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>1</integer>
        <key>text</key>
        <string>[哈哈]asd few asddf d[好爱哦]</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>2</integer>
        <key>text</key>
        <string>http://imgsrc.baidu.com/forum/w%3D580/sign=c1092901a2efce1bea2bc8c29f53f3e8/bbfd2901213fb80e2a0a0b2033d12f2eb8389406.jpg</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>1</integer>
        <key>text</key>
        <string>nihaosddjfkejlksdf</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>2</integer>
        <key>text</key>
        <string>http://imgsrc.baidu.com/forum/w%3D580/sign=c1092901a2efce1bea2bc8c29f53f3e8/bbfd2901213fb80e2a0a0b2033d12f2eb8389406.jpg</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>1</integer>
        <key>text</key>
        <string>nihaosddjfkejlksdf</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>1</integer>
        <key>text</key>
        <string>[哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦]</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>2</integer>
        <key>text</key>
        <string>http://imgsrc.baidu.com/forum/w%3D580/sign=c1092901a2efce1bea2bc8c29f53f3e8/bbfd2901213fb80e2a0a0b2033d12f2eb8389406.jpg</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>1</integer>
        <key>text</key>
        <string>[哈哈]asd few asddf d[好爱哦]</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>2</integer>
        <key>text</key>
        <string>http://imgsrc.baidu.com/forum/w%3D580/sign=c1092901a2efce1bea2bc8c29f53f3e8/bbfd2901213fb80e2a0a0b2033d12f2eb8389406.jpg</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>1</integer>
        <key>text</key>
        <string>nihaosddjfkejlksdf</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>2</integer>
        <key>text</key>
        <string>http://imgsrc.baidu.com/forum/w%3D580/sign=c1092901a2efce1bea2bc8c29f53f3e8/bbfd2901213fb80e2a0a0b2033d12f2eb8389406.jpg</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>1</integer>
        <key>text</key>
        <string>nihaosddjfkejlksdf</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>1</integer>
        <key>text</key>
        <string>[哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦]</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>2</integer>
        <key>text</key>
        <string>http://imgsrc.baidu.com/forum/w%3D580/sign=c1092901a2efce1bea2bc8c29f53f3e8/bbfd2901213fb80e2a0a0b2033d12f2eb8389406.jpg</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>1</integer>
        <key>text</key>
        <string>[哈哈]asd few asddf d[好爱哦]</string>
    </dict><dict>
        <key>type</key>
        <integer>2</integer>
        <key>text</key>
        <string>http://imgsrc.baidu.com/forum/w%3D580/sign=c1092901a2efce1bea2bc8c29f53f3e8/bbfd2901213fb80e2a0a0b2033d12f2eb8389406.jpg</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>1</integer>
        <key>text</key>
        <string>nihaosddjfkejlksdf</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>2</integer>
        <key>text</key>
        <string>http://imgsrc.baidu.com/forum/w%3D580/sign=c1092901a2efce1bea2bc8c29f53f3e8/bbfd2901213fb80e2a0a0b2033d12f2eb8389406.jpg</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>1</integer>
        <key>text</key>
        <string>nihaosddjfkejlksdf</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>1</integer>
        <key>text</key>
        <string>[哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦][哈哈]asd few asddf d[好爱哦]</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>2</integer>
        <key>text</key>
        <string>http://imgsrc.baidu.com/forum/w%3D580/sign=c1092901a2efce1bea2bc8c29f53f3e8/bbfd2901213fb80e2a0a0b2033d12f2eb8389406.jpg</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>1</integer>
        <key>text</key>
        <string>[哈哈]asd few asddf d[好爱哦]</string>
    </dict>
    <dict>
        <key>type</key>
        <integer>2</integer>
        <key>text</key>
        <string>http://imgsrc.baidu.com/forum/w%3D580/sign=c1092901a2efce1bea2bc8c29f53f3e8/bbfd2901213fb80e2a0a0b2033d12f2eb8389406.jpg</string>
    </dict>
    </array>
</plist>
