<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[兔子]</key>
	<string>face1.png</string>
	<key>[熊猫]</key>
	<string>face2.png</string>
	<key>[给力]</key>
	<string>face3.png</string>
	<key>[大嘴笑]</key>
	<string>f004.gif</string>
	<key>[微笑]</key>
	<string>f003.gif</string>
	<key>[嘻嘻]</key>
	<string>face4.png</string>
	<key>[咧嘴笑]</key>
	<string>f010.gif</string>
	<key>[哈哈]</key>
	<string>face5.png</string>
	<key>[糊涂了]</key>
	<string>f016.gif</string>
	<key>[睡着了]</key>
	<string>f024.gif</string>
	<key>[吓坏了]</key>
	<string>f026.gif</string>
	<key>[爱你]</key>
	<string>face6.png</string>
	<key>[怒]</key>
	<string>face7.png</string>
	<key>[汗]</key>
	<string>face8.png</string>
	<key>[呵呵]</key>
	<string>face9.png</string>
	<key>[神马]</key>
	<string>face10.png</string>
	<key>[浮云]</key>
	<string>face11.png</string>
	<key>[威武]</key>
	<string>face12.png</string>
	<key>[晕]</key>
	<string>face13.png</string>
	<key>[泪]</key>
	<string>face14.png</string>
	<key>[馋嘴]</key>
	<string>face15.png</string>
	<key>[睡觉]</key>
	<string>face16.png</string>
	<key>[钱]</key>
	<string>face17.png</string>
	<key>[偷笑]</key>
	<string>face18.png</string>
	<key>[微风]</key>
	<string>face19.png</string>
	<key>[围观]</key>
	<string>face20.png</string>
	<key>[织]</key>
	<string>face21.png</string>
	<key>[抓狂]</key>
	<string>face22.png</string>
	<key>[哼]</key>
	<string>face23.png</string>
	<key>[可爱]</key>
	<string>face24.png</string>
	<key>[酷]</key>
	<string>face25.png</string>
	<key>[衰]</key>
	<string>face26.png</string>
	<key>[憨笑]</key>
	<string>f037.gif</string>
	<key>[吃惊]</key>
	<string>face27.png</string>
	<key>[闭嘴]</key>
	<string>face28.png</string>
	<key>[鄙视]</key>
	<string>face29.png</string>
	<key>[挖鼻屎]</key>
	<string>face30.png</string>
	<key>[可怜]</key>
	<string>face31.png</string>
	<key>[悲伤]</key>
	<string>face32.png</string>
	<key>[顶]</key>
	<string>face33.gif</string>
	<key>[亲亲]</key>
	<string>face34.png</string>
	<key>[生病]</key>
	<string>face35.png</string>
	<key>[左哼哼]</key>
	<string>face36.png</string>
	<key>[花心]</key>
	<string>face37.png</string>
	<key>[鼓掌]</key>
	<string>face38.png</string>
	<key>[亲一口]</key>
	<string>face39.gif</string>
	<key>[疑问]</key>
	<string>face40.png</string>
	<key>[做鬼脸]</key>
	<string>face41.png</string>
	<key>[害羞]</key>
	<string>face42.png</string>
	<key>[右哼哼]</key>
	<string>face43.png</string>
	<key>[嘘]</key>
	<string>face44.png</string>
	<key>[不要]</key>
	<string>face45.png</string>
	<key>[思考]</key>
	<string>face46.png</string>
	<key>[委屈]</key>
	<string>face47.png</string>
	<key>[吐]</key>
	<string>face48.png</string>
	<key>[懒得理你]</key>
	<string>face49.png</string>
	<key>[怒骂]</key>
	<string>face50.png</string>
	<key>[太开心]</key>
	<string>face51.png</string>
	<key>[good]</key>
	<string>face52.png</string>
	<key>[弱]</key>
	<string>f000.gif</string>
	<key>[ok]</key>
	<string>face54.png</string>
	<key>[orz]</key>
	<string>face55.gif</string>
	<key>[爱心传递]</key>
	<string>face56.png</string>
	<key>[奥特曼]</key>
	<string>face57.png</string>
	<key>[来]</key>
	<string>face58.png</string>
	<key>[耶]</key>
	<string>face59.png</string>
	<key>[心]</key>
	<string>face60.png</string>
	<key>[最差]</key>
	<string>face61.gif</string>
	<key>[拳头]</key>
	<string>face62.gif</string>
	<key>[haha]</key>
	<string>face63.gif</string>
	<key>[实习]</key>
	<string>face64.gif</string>
	<key>[帅]</key>
	<string>face65.png</string>
	<key>[赞]</key>
	<string>face66.png</string>
	<key>[伤心]</key>
	<string>face67.png</string>
	<key>[握手]</key>
	<string>face68.png</string>
	<key>[猪头]</key>
	<string>face69.png</string>
	<key>[拜拜]</key>
	<string>face70.gif</string>
	<key>[失望]</key>
	<string>face71.gif</string>
	<key>[书呆子]</key>
	<string>face72.gif</string>
	<key>[相机]</key>
	<string>face73.png</string>
	<key>[落叶]</key>
	<string>face74.png</string>
	<key>[咖啡]</key>
	<string>face75.png</string>
	<key>[话筒]</key>
	<string>face76.png</string>
	<key>[月亮]</key>
	<string>face77.png</string>
	<key>[困]</key>
	<string>face78.png</string>
	<key>[黑线]</key>
	<string>face79.png</string>
	<key>[感冒]</key>
	<string>face80.gif</string>
	<key>[蛋糕]</key>
	<string>face81.png</string>
	<key>[围脖]</key>
	<string>face82.png</string>
	<key>[手套]</key>
	<string>face83.png</string>
	<key>[太阳]</key>
	<string>face84.gif</string>
	<key>[干杯]</key>
	<string>face85.png</string>
	<key>[萌]</key>
	<string>face86.png</string>
	<key>[花]</key>
	<string>face87.png</string>
	<key>[足球]</key>
	<string>face88.png</string>
	<key>[雪花]</key>
	<string>face89.png</string>
	<key>[温暖帽子]</key>
	<string>face91.png</string>
	<key>[礼物]</key>
	<string>face92.png</string>
	<key>[互粉]</key>
	<string>face93.png</string>
	<key>[蜡烛]</key>
	<string>face94.png</string>
	<key>[音乐]</key>
	<string>face95.gif</string>
	<key>[电影]</key>
	<string>face96.gif</string>
	<key>[手机]</key>
	<string>face97.gif</string>
	<key>[自行车]</key>
	<string>face98.gif</string>
	<key>[下雨]</key>
	<string>face99.gif</string>
	<key>[bed凌乱]</key>
	<string>face100.gif</string>
	<key>[绿丝带]</key>
	<string>face101.png</string>
	<key>[钟]</key>
	<string>face102.png</string>
	<key>[囧]</key>
	<string>face103.png</string>
	<key>[马到成功]</key>
	<string>d_madaochenggong1.png</string>
	<key>[吃元宵]</key>
	<string>d_chitangyuan@2x.png</string>
	<key>[发红包]</key>
	<string>o_fahongbao@2x.png</string>
	<key>[马上有对象]</key>
	<string>d_duixiang@2x.png</string>
	<key>[炸鸡和啤酒]</key>
	<string>d_zhajipijiu@2x.png</string>
	<key>[带着微博去旅行]</key>
	<string>d_travel@2x.png</string>
	<key>[最右]</key>
	<string>d_zuiyou@2x.png</string>
	<key>[呵呵1]</key>
	<string>d_hehe@2x.png</string>
	<key>[嘻嘻1]</key>
	<string>d_xixi@2x.png</string>
	<key>[哈哈哈]</key>
	<string>d_haha@2x.png</string>
	<key>[爱你1]</key>
	<string>d_aini@2x.png</string>
	<key>[挖鼻]</key>
	<string>d_wabishi@2x.png</string>
	<key>[吃惊1]</key>
	<string>d_chijing@2x.png</string>
	<key>[晕死]</key>
	<string>d_yun@2x.png</string>
	<key>[馋嘴啊]</key>
	<string>d_chanzui@2x.png</string>
	<key>[泪目]</key>
	<string>d_lei@2x.png</string>
	<key>[抓狂a]</key>
	<string>d_zhuakuang@2x.png</string>
	<key>[哼哼]</key>
	<string>d_heng@2x.png</string>
	<key>[可爱可爱]</key>
	<string>d_keai@2x.png</string>
	<key>[怒了]</key>
	<string>d_nu@2x.png</string>
	<key>[汗汗]</key>
	<string>d_han@2x.png</string>
	<key>[害羞了]</key>
	<string>d_haixiu@2x.png</string>
	<key>[睡觉了]</key>
	<string>d_shuijiao@2x.png</string>
	<key>[钱钱]</key>
	<string>d_qian@2x.png</string>
	<key>[偷笑笑]</key>
	<string>d_touxiao@2x.png</string>
	<key>[酷酷]</key>
	<string>d_ku@2x.png</string>
	<key>[衰衰]</key>
	<string>d_shuai@2x.png</string>
	<key>[闭嘴嘴]</key>
	<string>d_bizui@2x.png</string>
	<key>[鄙视鄙视]</key>
	<string>d_bishi@2x.png</string>
	<key>[花心心]</key>
	<string>d_huaxin@2x.png</string>
	<key>[鼓掌鼓掌]</key>
	<string>d_guzhang@2x.png</string>
	<key>[悲伤悲伤]</key>
	<string>d_beishang@2x.png</string>
	<key>[思考考]</key>
	<string>d_sikao@2x.png</string>
	<key>[生病生病]</key>
	<string>d_shengbing@2x.png</string>
	<key>[亲亲亲亲]</key>
	<string>d_qinqin@2x.png</string>
	<key>[怒骂怒骂]</key>
	<string>d_numa@2x.png</string>
	<key>[太开心太开心]</key>
	<string>d_taikaixin@2x.png</string>
	<key>[懒得理你你]</key>
	<string>d_landelini@2x.png</string>
	<key>[右哼哼哼]</key>
	<string>d_youhengheng@2x.png</string>
	<key>[左哼哼哼]</key>
	<string>d_zuohengheng@2x.png</string>
	<key>[嘘嘘]</key>
	<string>d_xu@2x.png</string>
	<key>[委屈委屈]</key>
	<string>d_weiqu@2x.png</string>
	<key>[吐吐]</key>
	<string>d_tu@2x.png</string>
	<key>[可怜可怜]</key>
	<string>d_kelian@2x.png</string>
	<key>[打哈气]</key>
	<string>d_dahaqi@2x.png</string>
	<key>[挤眼]</key>
	<string>d_jiyan@2x.png</string>
	<key>[失望望]</key>
	<string>d_shiwang@2x.png</string>
	<key>[顶顶]</key>
	<string>d_ding@2x.png</string>
	<key>[疑问问]</key>
	<string>d_yiwen@2x.png</string>
	<key>[困死了]</key>
	<string>d_kun@2x.png</string>
	<key>[感冒冒]</key>
	<string>d_ganmao@2x.png</string>
	<key>[拜拜拜]</key>
	<string>d_baibai@2x.png</string>
	<key>[黑线线]</key>
	<string>d_heixian@2x.png</string>
	<key>[阴险阴险]</key>
	<string>d_yinxian@2x.png</string>
	<key>[互粉互粉]</key>
	<string>f_hufen@2x.png</string>
	<key>[心心]</key>
	<string>l_xin@2x.png</string>
	<key>[伤心伤心]</key>
	<string>l_shangxin@2x.png</string>
	<key>[猪头猪头]</key>
	<string>d_zhutou@2x.png</string>
	<key>[熊猫熊猫]</key>
	<string>d_xiongmao@2x.png</string>
	<key>[兔子兔子]</key>
	<string>d_tuzi@2x.png</string>
	<key>[握手握手]</key>
	<string>h_woshou@2x.png</string>
	<key>[耶耶]</key>
	<string>h_ye@2x.png</string>
	<key>[goodgood]</key>
	<string>h_good@2x.png</string>
	<key>[弱弱]</key>
	<string>h_ruo@2x.png</string>
	<key>[不要不要]</key>
	<string>h_buyao@2x.png</string>
	<key>[okok]</key>
	<string>h_ok@2x.png</string>
	<key>[hahaha]</key>
	<string>h_haha@2x.png</string>
	<key>[来来]</key>
	<string>h_lai@2x.png</string>
	<key>[威武威武]</key>
	<string>f_v5@2x.png</string>
	<key>[鲜花鲜花]</key>
	<string>w_xianhua@2x.png</string>
	<key>[钟钟]</key>
	<string>o_zhong@2x.png</string>
	<key>[浮云浮云]</key>
	<string>w_fuyun@2x.png</string>
	<key>[飞机飞机]</key>
	<string>o_feiji@2x.png</string>
	<key>[月亮月亮]</key>
	<string>w_yueliang@2x.png</string>
	<key>[太阳太阳]</key>
	<string>w_taiyang@2x.png</string>
	<key>[微风微风]</key>
	<string>w_weifeng@2x.png</string>
	<key>[沙尘暴]</key>
	<string>w_shachenbao@2x.png</string>
	<key>[下雨下雨]</key>
	<string>w_xiayu@2x.png</string>
	<key>[给力给力]</key>
	<string>f_geili@2x.png</string>
	<key>[神马神马]</key>
	<string>f_shenma@2x.png</string>
	<key>[围观围观]</key>
	<string>o_weiguan@2x.png</string>
	<key>[话筒话筒]</key>
	<string>o_huatong@2x.png</string>
	<key>[奥特曼奥特曼]</key>
	<string>d_aoteman@2x.png</string>
	<key>[草泥马]</key>
	<string>d_shenshou@2x.png</string>
	<key>[萌萌]</key>
	<string>f_meng@2x.png</string>
	<key>[囧囧]</key>
	<string>f_jiong@2x.png</string>
	<key>[织织]</key>
	<string>f_zhi@2x.png</string>
	<key>[礼物礼物]</key>
	<string>o_liwu@2x.png</string>
	<key>[喜喜]</key>
	<string>f_xi@2x.png</string>
	<key>[围脖围脖]</key>
	<string>o_weibo@2x.png</string>
	<key>[音乐音乐]</key>
	<string>o_yinyue@2x.png</string>
	<key>[绿丝带绿丝带]</key>
	<string>o_lvsidai@2x.png</string>
	<key>[蛋糕蛋糕]</key>
	<string>o_dangao@2x.png</string>
	<key>[蜡烛蜡烛]</key>
	<string>o_lazhu@2x.png</string>
	<key>[干杯干杯]</key>
	<string>o_ganbei@2x.png</string>
	<key>[男孩儿]</key>
	<string>d_nanhaier@2x.png</string>
	<key>[女孩儿]</key>
	<string>d_nvhaier@2x.png</string>
	<key>[肥皂]</key>
	<string>d_feizao@2x.png</string>
	<key>[照相机]</key>
	<string>o_zhaoxiangji@2x.png</string>
	<key>[笑哈哈]</key>
	<string>lxh_xiaohaha.gif</string>
	<key>[好爱哦]</key>
	<string>lxh_haoaio.gif</string>
	<key>[噢耶]</key>
	<string>lxh_oye.gif</string>
	<key>[偷乐]</key>
	<string>lxh_toule.gif</string>
	<key>[泪流满面]</key>
	<string>lxh_leiliumanmian.gif</string>
	<key>[巨汗]</key>
	<string>lxh_juhan.gif</string>
	<key>[抠鼻屎]</key>
	<string>lxh_koubishi.gif</string>
	<key>[求关注]</key>
	<string>lxh_qiuguanzhu.gif</string>
	<key>[好喜欢]</key>
	<string>lxh_haoxihuan.gif</string>
	<key>[崩溃]</key>
	<string>lxh_bengkui.gif</string>
	<key>[好囧]</key>
	<string>lxh_haojiong.gif</string>
	<key>[震惊]</key>
	<string>lxh_zhenjing.gif</string>
	<key>[别烦我]</key>
	<string>lxh_biefanwo.gif</string>
	<key>[不好意思]</key>
	<string>lxh_buhaoyisi.gif</string>
	<key>[羞嗒嗒]</key>
	<string>lxh_xiudada.gif</string>
	<key>[得意地笑]</key>
	<string>lxh_deyidexiao.gif</string>
	<key>[纠结]</key>
	<string>lxh_jiujie.gif</string>
	<key>[给劲]</key>
	<string>lxh_geijin.gif</string>
	<key>[悲催]</key>
	<string>lxh_beicui.gif</string>
	<key>[甩甩手]</key>
	<string>lxh_shuaishuaishou.gif</string>
	<key>[好棒]</key>
	<string>lxh_haobang.gif</string>
	<key>[瞧瞧]</key>
	<string>lxh_qiaoqiao.gif</string>
	<key>[不想上班]</key>
	<string>lxh_buxiangshangban.gif</string>
	<key>[困死了le]</key>
	<string>lxh_kunsile.gif</string>
	<key>[许愿]</key>
	<string>lxh_xuyuan.gif</string>
	<key>[丘比特]</key>
	<string>lxh_qiubite.gif</string>
	<key>[有鸭梨]</key>
	<string>lxh_youyali.gif</string>
	<key>[想一想]</key>
	<string>lxh_xiangyixiang.gif</string>
	<key>[躁狂症]</key>
	<string>lxh_zaokuangzheng.gif</string>
	<key>[转发]</key>
	<string>lxh_zhuanfa.gif</string>
	<key>[互相膜拜]</key>
	<string>lxh_xianghumobai.gif</string>
	<key>[雷锋]</key>
	<string>lxh_leifeng.gif</string>
	<key>[杰克逊]</key>
	<string>lxh_jiekexun.gif</string>
	<key>[玫瑰]</key>
	<string>lxh_meigui.gif</string>
	<key>[hold住]</key>
	<string>lxh_holdzhu.gif</string>
	<key>[群体围观]</key>
	<string>lxh_quntiweiguan.gif</string>
	<key>[推荐]</key>
	<string>lxh_tuijian.gif</string>
	<key>[赞啊]</key>
	<string>lxh_zana.gif</string>
	<key>[被电]</key>
	<string>lxh_beidian.gif</string>
	<key>[霹雳]</key>
	<string>lxh_pili.gif</string>
</dict>
</plist>
